.username-1A8OIy, .roleColor-rz2vM0{
	/*text-shadow: 0 0 3px black;*/
	filter: brightness(60%);
}

body{
	/* make everything a little grey so it is less blinding*/
	filter: brightness(95%);
}

img:not(foreignObject img){
	/*the images, but not the profile pictures*/
	filter: brightness(106%); /*cancel out the overall darkness so images look same*/
}

.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE{
	/*color: #F00 !important;*/
	font-weight: bold;
}
